button {
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
}

button:hover {
    cursor: pointer;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.25rem;
    padding-top: 0.5rem;
    border-radius: 10px;
}

.btn-play {
    background-color: #fff;
}

.btn-play:hover {
    background-color: rgb(255, 255, 255, 0.7);
}

.btn-play img {
    height: 1.5rem;
    padding-right: 0.5rem;
}

.btn-play p {
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    font-weight: 600;
    color: #141414;
}

@media screen and (max-width: 769px) {
    button {
        padding: 0 0.75rem;
        padding-top: 0.25rem;
        border-radius: 5px;
    }
    
    .btn-play img {
        padding-top: 0.4rem;
        height: 1rem;
        padding-right: 0.2rem;
    }
    
    .btn-play p {
        padding-right: 0.5rem;
        padding-bottom: 0.125rem;
        font-size: 0.75rem;
    }
        
}