.footer {
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    background: #000000;
    color: #6F6F6F;
    font-family: 'martel';
    padding: 3rem
}

.footer h3 {
    font-size: 1rem;
    font-weight: 300;
}

.footer h4 {
    line-height: 2rem;
    font-size: 0.75rem;
    font-weight: 300;
}

ul {
    list-style-type: none;
    display: block;
    column-count: 4;
}

li {
    cursor: pointer;
    line-height: 2rem;
    font-size: 0.75rem;
}

li:hover {
    text-decoration: underline;
}

@media screen and (max-width: 725px) {
    ul {
        column-count: 3;
    }
}

@media screen and (max-width: 485px) {
    ul {
        column-count: 2;
    }
}