.main-container {
    display: flex;
    flex-direction: column;
    width: auto;
    background-image: url("/assets/netflix_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: grayscale(0.4);
}

.logo {
    display: flex;
    width: 10rem;
    height: 93px;
    margin-left: 5rem;
    margin-top: 1rem;
    align-self: flex-start;
}

.logo img {
    width: 100%;
}

.login-modal {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 550px;
    padding: 4rem;
    background: rgba(0, 0, 0, 0.9);
    align-self: center;
    margin-bottom: 2rem;
}

.login-modal h3 {
    color: white;
    font-size: 32px;
    font-family: 'martel';
    font-weight: 800;
    margin-bottom: 2.5rem;
}

.login-modal form {
    display: flex;
    flex-direction: column;
}

.login-modal input {
    height: 35px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #333333;
    color: white;
    border: black;
}

.login-modal .ng-touched .ng-invalid{
    border-bottom: #F28300 2px solid;
}

.login-modal button {
    height: 50px;
    margin-top: 21px;
    background-color: #E50914;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.know-more {
    color: #8C8C8C;
    font-size: 12px;
}

.reCaptcha {
    color: #8C8C8C;
    margin-top: 50px;
    font-size: 12px;
}



.login-modal span {
    color: #0080FF;
    font-size: 12px;
    cursor: pointer;
}

.error {
    color: #F28300;
}

@media screen and (max-width: 769px) {

    .main-container {
        background: #141414;
        width: 100vw;
        backdrop-filter: grayscale(80%);
    }

    .logo {
        width: 100px;
        height: 50px;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }

    .login-modal {
        background: #141414;
        padding: 4rem 1rem;
        width: auto;
        height: auto;
        margin-top: 0px;
    }
}



