button {
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
}

button:hover {
    cursor: pointer;
}

.modal-container {
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 300vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 11;
}

.modal {
    width: 60vw;
    position: fixed;
    height: fit-content;
    background-color: #141414;
}

.image-container {
    position: relative;
    padding-left: 3rem;
    padding-bottom: 5vw;
    background-size: cover;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.btn-close-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-close-container button {
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    background-color: #141414;
    color: rgba(255,255,255,0.8);
}

.btn-play-container {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.title-container img {
    width: 45vw;
}

.info-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0 3rem;
    padding-bottom: 4rem;
    padding-top: 1rem;
}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    font-size: 1.1rem;
}

.header-info {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.relevance {
    color: #46D369;
}

.classification {
    height: 2rem;
    width: 1.5rem;
    background-color: #EBC500;
    color: black;
    padding: 0 0.25rem;
    border-radius: 2px;
    font-size: 1.25rem;
    font-weight: bold;
}

.info-plot {
    line-height: 1.8rem;
}

.cast-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cast-info p {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.cast-type {
    color: rgba(255,255,255,0.35);
}


@media screen and (max-width: 1080px) {
    .info-container {
        gap: 1.2rem;
        padding: 0 1.5rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
    
    .main-info p {
        font-size: 0.9rem;
    }
    .cast-info p {
        width: 105%;
        font-size: 0.7rem;
    }

    .classification {
        height: 1.4rem;
        width: 1rem;
        padding: 0 0.2rem;
        padding-right: 0.25rem;
        border-radius: 1.5px;
        font-size: 1.25rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 769px) {
    .modal {
        width: 90vw;
    }

    .image-container {
        height: 45vw;
    }

    .main-info {
        width: 100%;
    }

    .info-container {
        flex-direction: column;
    }
}