.user-main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.user-profile-div {
    display: flex;
    width: 145px;
    flex-direction: column;
    border-radius: 2.5px;
    
}

.user-profile-div :hover {
    border: 3px white solid;
    cursor: pointer; 
}

img {
    width: 145px;
    height: 145px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.1rem;
    color: #808080;
    align-self: center;
}

@media screen and (max-width: 769px) {

    .user-main-container {
        gap: 0.75rem;
    }

    .user-profile-div {
        display: flex;
        width: 80px;
        height: 100px;
        margin-right: 8px;
        flex-direction: column;
        border-radius: 5px;
        
    }

    img {
        width: 80px;
        height: 80px;
    }
    
    h5 {
        color: #808080;
        font-size: 0.7rem;
        align-self: center;
        font-family: 'martel';
    }

}

