<div class="header-container">
    <div class="logo">
        <img src="assets/netflix_logo.png" alt="">
    </div>
    <div class="header-text">
        <h1>Filmes, séries e muito mais. Sem limites.</h1>
        <h3>Assista onde quiser. Cancele quando quiser.</h3>
        <h3>Pronto para assistir? Clique no botão abaixo para ser redirecionado para a tela de login.</h3>
        <button (click)="navigateToLogin()">Entrar</button>
    </div>
</div>

<div class="banner">
    <section>
        <h1>Aproveite na TV.</h1>
        <h3>Assista em Smart TVs, Playstation, Xbox, Chromecast, Apple TV, aparelhos de Blu-ray e outros dispositivos.</h3>
    </section>
    <aside>
        <img src="assets/tv-netflix.png" alt="">
    </aside>
</div>
<div class="banner-odd">
    <aside>
        <img src="assets/mobile.png" alt="">
    </aside>
    <section>
        <h1>Baixe séries para assistir offline.</h1>
        <h3>Salve seus títulos favoritos e sempre tenha algo para assistir.</h3>
    </section>
</div>
<div class="banner">
    <section>
        <h1>Assista quando quiser.</h1>
        <h3>Assista no celular, tablet, Smart TV ou notebook sem pagar a mais por isso.</h3>
    </section>
    <aside>
        <img src="assets/device-pile.png" alt="">
    </aside>
</div>
<div class="banner-odd">
    <aside>
        <img src="assets/child.png" alt="">
    </aside>
    <section>
        <h1>Crie perfis para crianças.</h1>
    </section>
</div>

<div class="footer">
    <h3>Duvidas? Ligue 0800-761-4631</h3>
    <ul>
        <li>Perguntas Frequentes</li>
        <li>Centro de ajuda</li>
        <li>Conta</li>
        <li>Imprensa</li>
        <li>Relações com investidores</li>
        <li>Carreiras</li>
        <li>Resgatar cartão pré-pago</li>
        <li>Comprar cartão pré-pago</li>
        <li>Formas de assistir</li>
        <li>Termos de uso</li>
        <li>Privacidade</li>
        <li>Preferências de cookies</li>
        <li>Informações corporativas</li>
        <li>Entre em contato</li>
        <li>Teste de velocidade</li>
        <li>Avisos legais</li>
        <li>Só na Netflix</li>
    </ul>
    <h4>Netflix Brasil</h4>
</div>